/*This is for the navigation bar, on the left side of the portal, gives the navigation a nice border and aligns all
elements inside that div to be in a column formation*/
div.navigation.student {
    margin-top: 20px; 
    font-size: 30px;
    width: 240px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

/*This is for the whole page, aligns all the elements including the navigation bar in a row direction*/
div.portal {
    display: flex;
    flex-direction: row;
    text-align: center;
}

/*This is the content div, displays the main content of the page, this takes all elements and aligns it 
to the center of the div*/
div.content {
    width: 100%;
    text-align: center;
    border: 2px solid black;
    margin-left: 10px;
    margin-top: -70px;
    border-radius: 20px;
}


/*Makes the title span the whole div and makes the font large and centers it in the div*/
div.Title{
    width: 100%;
    text-align: center;
    font-size: xx-large;
}

/*Displays an image inside the elements when you hover over the element*/
.menuItem:hover{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("images/BoxBackGround.png"); /*taken from https://www.uwinnipeg.ca/_files/images/responsive-2014/topBar.png*/
}

/*This makes the links not purple so it looks professional*/
a:link, a:visited{
    color:black;
    text-decoration: none;
}


/*Removes the bullets from an unordered list*/
ul {
    list-style-type: none
}

/*This is for the logo in the top left corner, just a bunch of resizing and positioning*/
div.logo.portal{
    background-image: url("images/Logo.png");
    background-repeat: no-repeat;
    height: 150px;
    width: 180px;
    margin-left: 15px;
    margin-bottom: -20px;
    background-size: 100%;
}

/*This is the signout button on the top right corner of the page*/
div.signout{
    position: absolute;
    right: 80px;
    top: 45px;
    font-size: xx-large;
}



li{
    margin-left:-40px;
}

div.door{
    background-image: url("images/door.png");
    position: absolute;
    right: 50px;
    top: 50px;
    width: 30px;
    height: 30px;
    background-size: 100%;

    
}