/*This is the search bar, it sets the formation in a row*/
.filter {
    display: flex;
    flex-direction: row;
}

/*Gives each element padding and sets the font*/
.filter input[type=text] {
    /* float: right; */
    padding: 6px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    margin: 16px;
    font-size: 17px;
    width: 32%;
    font-family: 'Times New Roman', Times, serif;
}

/*This just lays out the search formation*/
.filter .select {
    margin: 16px;
    width: 32%;
}